section.comments-section {
    padding-top: 1.5rem;
    .comment-group {
        &.nested  {
            border-left: 1px solid #EDEDED;            
            padding-left: 2rem;
        }

        .comment {
            .title-group {
                .author {
                    color: #36A3F0;
                    font-size: .75rem;
                    padding-right: 1rem;
                    text-decoration: unset;
                    &.deleted {
                        color: grey;
                    }
                }
                .upvotes, .time-ago {
                    color: rgba(0,0,0,0.87);
                    font-size: .75rem;
                }
                .delete {
                    float: right;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .comment-body {
                color: rgba(0,0,0,0.6);
                font-size: 14px;
                padding-right: 3rem;
            }
        }
    }
    
}